@charset "utf-8";


html,body{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4{
    margin: 0;
    padding: 0;
    font-size: 100%;
}

/* 상단영역 */
.top{
    height: 124px;
}

/* 메인영역 */
.cont{
    height: 800px;
}



/* 하단영역 */
.info{
    height: 240px;
}





