@charset "utf-8";
/* 외부 CSS파일의 상단엔 반드시 문자셋을 해야함!
이것 이전엔 아무것도 쓰면 안된다!!! */

/*스타일시트를 사용하는 영역*/
/*css문법만 쓸 수 있음!*/
/* 
               기본 사용법:
               선택자{
                   속성명: 값;
               }
*/
/* 1. 상단영역 */
#top {
    text-align: center;
    /* 텍스트 중앙정렬 */
    width: 727px;
    /* 박스의 바깥여백(마진: margin) */
    margin: 20px auto;
    /* margin: 위아해 양쪽
                -> 크기를 가진 블록박스의 마진을 양쪽을 
                auto로 설정하면 가로방향 중앙정렬됨!
                magin: 0 auto;  */

    /* 박스 안쪽여백(패딩:padding) */
    padding: 10px;

    /* 박스 크기유지하지(패딩,보더포함) */
    box-sizing: border-box;
    /* 기본값 contect-box
                -> 사이즈 지정시 패딩, 보더만큼 커짐 */

    /* 배경색 넣기 */
    background-color: #b1fff5;
}
/* 상단영역과 하단영역에 보더 넣기 */
/* 선택자를 콤마*(,)로 연결 */
#top, #info{
    border: 1px solid silver;
    /* border: 두께 종류 색상 */

}
/* 속성선택자[] */
/* 
= 정확히 일치
^= 시작하는 문자
$= 끝나는 문자
*= 내용중에 문자
 */
[href^="http"]{
    color:red;
    text-decoration: none;
    /* a 요소 기본 값 변경하기! */
}
/* 마우스 오버시 밑줄 */
/* :hover 마우스 오버시 가상클래스 */
[href^="http"]:hover{
    text-decoration: underline;
}

/* 정치 주요뉴스에 사이 구분선 넣기 */
/* li+li 앞에 li형제가 있는 형제li요소 선택 */
/* +는 형제선택자 */
.pnews li+li{
    border-top: 4px dotted hotpink;
}
/* 랭킹뉴스 사이 구분선 넣기 */
/* 첫번째 li선택하기 */
.rnews li.first-child{
    font-style: 22px;
}

/* 큰제목 */
#top h1 {
    color: #a8a26d;
    text-shadow: 2px 2px 2px rgb(128, 128, 128);
    /* 글자 그림자
                text-shadow: x축 y축 블러 색; */
}
/* 제목 일부 글자색변겨이 */
/* .(점)은 클래스 선택자 */
.fc{
    color: red;
}

/* 메뉴 a요소 */
nav.gnb a {
    color: black;
    /* 글자색 */
    text-decoration: none;
    /* 밑줄없앰 */
    font-weight: bold;
    /* 글자두껍게 */
}

/* 로고이미지 */
nav img {
    vertical-align: -4px;
    /* 인라인요소간 세로정렬 */
}

/* 2. 메인영역 */
main {
    width: 727px;
    margin: 0px auto;
    /* 마영오! */
    /* text-align: center; */
}
/* 메인 문단 */
main p{
    font-style: italic;
    /* 글자스타일 */
    font: size 17px;
    /* 글자크키 */
    font-family: "굴림","궁서";
    /* 글자체 - 여려글자체는 우선순위임
    (없으면 뒤에것 나옴) */
    line-height: 1.4;
    /* 줄간격 - 그 숫자만 쓰면 글자크키의 배수 단위있으면 그 크기만큼 줄간격 설정됨 */
    letter-spacing: -1px;
    /* 자간(글자간격) - 기본값0 */
    word-spacing: 2px;
    /* 단어간격 - 기본값0 */
    padding: 0 30px;
    /* 안쪽여백 */
    
}

footer {
    width: 727px;
    margin: 0 auto;
    text-align: center;
    /* 인라인요소 중앙정렬 */
    padding: 20px;
    background-color: #b1fff5;
    margin-top: 20px;
    border-style: border-box;
}
ol{
    list-style: square;
}

/* 주소박스 */
address {
    font-style: normal;
    /* 이탤릭해제 */
    font-size: 14px;
    /* 글자크기(기본값16px) */
    color: #555;
}