@charset "utf-8";


/* 당첨안내팝업 */
.pop_wrap .img_view img	{width:610px;}

/* 팝업 버튼 */
.pop .btn_wrap	{display:none;}

/* 인터넷광고(신문광고)전단 */
.top_nav,#header,.h_link,.tab_wrap,.txt_desc,.nl_btm,.btm_wrap,#footer	{display:none;}
.nl_wrap .cont	{border:none;}

/* 모바일(전자)영수증 */
.receipt_desc_wrap .btn	{display:none;}
.pop_wrap .btn_wrap	{display:none;}
.pop2 .pop_wrap header	{border-bottom:none;}