@charset "utf-8";


html,body{
    margin: 0;
    padding: 0;

}
 body{
    background: url(../images/bg.jpg) no-repeat fixed top/cover;
    overflow-x: hidden;
} 
/* body *{
    outline : 5px dashed lime;
} */

/* 로봇머리 */
#head{
    position: relative;
    width: 250px;
    height: 250px;
    background: url(../images/metal01.jpg) no-repeat center/cover;
    margin: 0 auto;
    margin-top: 100px;
}
/* 눈1 */
#eye1{
    position: absolute;
    top: 50px;
    left: 50px;
    /* 부모는 #head*/

    width: 50px;
    height: 50px;
    background: url(../images/e1.jpg) no-repeat 0/100% 100%;
}
/* 눈2 */
#eye2{
    position: absolute;
    top: 50px;
    right: 50px;
    /* 부모는 #head */

    width: 50px;
    height: 50px;
    background: url(../images/e2.jpg) no-repeat 0/100% 100%;
}
/* 코 */
#nose{
    position: absolute;
    top: 100px;
    right: 100px;
    /* 부모는 #head */

    width: 50px;
    height: 70px;
    background: url(../images/nose.jpg) no-repeat 0/110% 100%;
}
/* 입 */
#mouth{
    position: absolute;
    top: 170px;
    right: 80px;
    /* 부모는 #head */

    width: 100px;
    height: 70px;
    background: url(../images/mouth.png) no-repeat 0/110% 100%;
}

/* 귀공통 */
.ear{
    position: absolute;
    top: 70px;
    width: 50px;
    height: 100px;
    background: url(../images/metal02.jpg) no-repeat 0/100% 100%;
}
/* 귀1 */
#ear1{
    left: -50px;
    border-radius: 20% 0 0 20%;
    /* 보더 각 셋팅: 왼쪽 위 부터 시계방향 */
}
#ear2{
    right: -50px;
    border-radius: 0 20% 20% 0;
}

/* 로봇몸 */
#body{
    position: relative;
    /* 부모자격 */
    width: 250px;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 300px;
    background: url(../images/metal01.jpg) no-repeat center/cover;
}
#neck{
    position: absolute;
    top: -50px;
    left: 100px;
    width: 50px;
    height: 50px;
    background: url(../images/metal02.jpg) no-repeat 0/100% 100%;
}

/* 팔다리 공통 */
.part{
    position: absolute;
    width: 50px;
    height: 250px;
    background: url(../images/metal02.jpg) repeat-y 0/100% 100%;
}
#arm1{
    left: -50px;
}
#arm2{
    right: -50px;
}
#leg1{
    bottom: -250px;
    left: 0;
}
#leg2{
    bottom: -250px;
    right: 0;
}
/* 어깨 공통 */
.sh{
    position: absolute;
    width: 80px;
    height: 80px;
    background: url(../images/metal01.jpg) no-repeat center/cover;

}
#sh1{
    top: -10px;
    left: -80px;
    border-radius: 30% 0 0 30%;
}
#sh2{
    top: -10px;
    right: -80px;
    border-radius: 0 30% 30% 0;
}
/* tv */
#tv{
    position: absolute;
    top: 55px;
    left: 24px;
    /* 부모는? body */
    width: 200px;
    height: 150px;
    background: url(../images/tv.jpg) no-repeat 0/100% 100%;
}
/* 스크린 */
#screen{
    position: absolute;
    top: 17px;
    left: 12px;
    /* 부모는? #tv */
    width: 140px;
    height: 106px;
    background-color: #222;
    border-radius: 16px;

    overflow: hidden;
}
/* 유튜브 아이프레임 */
#screen iframe{
    position: absolute;
    top: 0;
    left: 0;
    /* 부모는 screen */
    width: 100%;
    height: 100%;
}
#dcbx{
    width: 800px;
    margin: 0 auto;
    margin-bottom: 200px;
    border: 3px solid #fff;
    border-radius: 20px;
    padding: 15px 30px;
    background-color: rgba(0, 0, 0, 0.411);
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    box-shadow: inset 0 0 60px cyan;
    /* 박스그림자: (내부) x y 블러 (크기) 색 */
}
/* 로봇설명 제목 */
#dcbx h2{
    position: sticky;
    top: 0;
    font-size: 35px;
    text-align: center;
    color: lime;
    background-color: rgba(255, 255, 255, 0.4);

}
/* 설명출ㅊ처 */
#dcbx small{
    display: block;
    /* 텍스트 중앙정렬 */
    text-align: center;
    color: #ff0;
}
/* 설명문단 */
#dcbx p{
    font-size: 15px;
    line-height: 1.5;
    /* 줄간격:배수/단위 등 */
    letter-spacing: 1px;
    /* 자간 */
    word-spacing: 2px;
    /* 단어간격 */

    /* 가독성 */
    /* e다단표시 */
    column-count: 3;
    /* 다중열 구분선 값은 보더와 같다 (두께 종류 색상) */
    column-rule: 5px dotted lime;
    /* 다중열 사이 간격  */
    column-gap: 50px;
    /* 양쪽정렬 - 끝라인을 맞춰줌 */
    text-align: justify;
    /* 단어단위를 한글자 씩으로 깨준다 양쪽 정렬시 사용하면 보기 좋다 */
    word-break: break-all;
    /* 첫줄 들여쓰기(-값 사용시 내여쓰기 가능) */
    text-indent: 20px;
}
