@charset "utf-8";


html,body{
    margin: 0;
    padding: 0;

}
body{
    background: url(../images/bg.jpg) no-repeat fixed top/cover;
    overflow-x: hidden;
}

body *{
    outline : 5px dashed lime;
}

/* 로봇머리 */
#head{
    position: relative;
    width: 250px;
    height: 250px;
    background: url(../images/metal01.jpg) no-repeat center/cover;
    margin: 0 auto;
    margin-top: 100px;
}
/* 눈1 */
#eye1{
    position: absolute;
    top: 50px;
    left: 50px;
    /* 부모는 #head*/

    width: 50px;
    height: 50px;
    background: url(../images/e1.jpg) no-repeat 0/100% 100%;
}
/* 눈2 */
#eye2{
    position: absolute;
    top: 50px;
    right: 50px;
    /* 부모는 #head */

    width: 50px;
    height: 50px;
    background: url(../images/e2.jpg) no-repeat 0/100% 100%;
}
/* 코 */
#nose{
    position: absolute;
    top: 100px;
    right: 100px;
    /* 부모는 #head */

    width: 50px;
    height: 70px;
    background: url(../images/nose.jpg) no-repeat 0/110% 100%;
}
/* 입 */
#mouth{
    position: absolute;
    top: 170px;
    right: 80px;
    /* 부모는 #head */

    width: 100px;
    height: 70px;
    background: url(../images/mouth.png) no-repeat 0/110% 100%;
}

/* 귀공통 */
.ear{
    position: absolute;
    top: 70px;
    width: 50px;
    height: 100px;
    background: url(../images/metal02.jpg) no-repeat 0/100% 100%;
}
/* 귀1 */
#ear1{
    left: -50px;
    border-radius: 20% 0 0 20%;
    /* 보더 각 셋팅: 왼쪽 위 부터 시계방향 */
}
#ear2{
    right: -50px;
    border-radius: 0 20% 20% 0;
}

/* 로봇몸 */
#body{
    position: relative;
    /* 부모자격 */
    width: 250px;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;
    background: url(../images/metal01.jpg) no-repeat center/cover;
}
#neck{
    position: absolute;
    top: -50px;
    left: 100px;
    width: 50px;
    height: 50px;
    background: url(../images/metal02.jpg) no-repeat 0/100% 100%;
}

/* 팔다리 공통 */
.part{
    position: absolute;
    width: 50px;
    height: 250px;
    background: url(../images/metal02.jpg) repeat-y 0/100% 100%;
}
#arm1{
    left: -50px;
}
#arm2{
    right: -50px;
}
#leg1{
    bottom: -250px;
    left: 0;
}
#leg2{
    bottom: -250px;
    right: 0;
}
/* 어깨 공통 */
.sh{
    position: absolute;
    width: 80px;
    height: 80px;
    background: url(../images/metal01.jpg) no-repeat center/cover;

}
#sh1{
    top: -10px;
    left: -80px;
    border-radius: 30% 0 0 30%;
}
#sh2{
    top: -10px;
    right: -80px;
    border-radius: 0 30% 30% 0;
}


