@charset "utf-8";
/* 제주맥주 메인 CSS - main.css */

/* 외부파일 합치기 */
@import url(reset.css);
@import url(core.css);

/* 박스표시 */
/* body * {
    outline: 1px dashed gray;
} */

/* 속박스 class */

.ibx h2 {
    text-align: center;
    font-size: 30px;
    color: #000;
    outline: none;
}

/* 1. 상단영역 메뉴바 */


#topbar {
    border-bottom: 1px solid #e5e5e5;
}

.topbar {
    height: 36px;
}

.topbar ul li{
    padding: 0 10px;
    border-left: 1px solid #e5e5e5;
}

.nleft li:first-child{
    border-left: none;
}
.nright li:first-child{
    border-left: none;
}


.topbar nav {
    width: 980px;
    padding-top: 12px;
    margin: 0 auto;
}

.nleft{
    float: left;
    display: flex;
    font-size: 13px;
}

.nright{
    float: right;
    right: 0;
    display: flex;
    font-size: 13px;
}

/* 상단영역 메뉴 */

.top{
    width: 980px;
    margin: 0 auto;
    position: relative;
    padding: 40px 0 30px;
}

.top nav{
    width: 980px;
    margin: 0 auto;
    text-align: center;
}

.top nav ul{
    display:inline-block;
    margin-left: -45px;
}

.top nav ul li{
    float: left;
    margin: 0 35px;
}

.m01 a{
    margin-top: -10px;
}

.top nav ul li a{
    padding-bottom: 10px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

.m01 a{
    border-bottom: none;
}

.top nav ul li:hover:not(.m01){
    border-bottom: 2px solid #000;
}

.sub_contain {
    display: none;
    position: absolute;
    top: 67px;
    left: 50%;
    padding: 18px 0;
    margin-left: 45px;
    width: 423px;
    background: none;
    overflow: hidden;
    white-space: nowrap;
}

.top nav ul li:hover .sub_contain{   
    display:block;
}

/* .topSubmenu{
    display: none;
    position: absolute;
    left: 53%;
    padding: 18px 0;
    width: 423px;
    background: none;
    overflow: hidden;
    white-space: nowrap
}
 */



#top .topSubmenu ol li{
    float: left;
    margin: 0 7px;
    font-size: 14px;
    color: #666666;
}

#top .topSubmenu ol li a{
    color: #666666;
    font-size: 14px;
}

#top .topSubmenu ol li:hover a{
    color: #000;
}



/* 
.top 
    padding: 40px 0 30px 0;
    margin: 0 auto;
}

.top nav{
    width: 980px;
    margin: 0 auto;    
}

.top ul{
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-align: center;
}

.top ul li{
    float: left;
    margin: 0 35px 0 35px;
}

#top nav ul li a {
    padding-bottom: 10px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

.m01{
    position: relative;
    bottom: 14px;
}

.top nav ul li a:hover{
    border-bottom: 3px solid #000;
} 
*/

/*************************************************************/

/* 3. 메인영역 */
.c1 {
    position: relative;
    height: 560px;
    width: 1180px;
    padding: 0 42px;
    margin: 0 auto;
}

.c1_1 {
    position: relative;
    margin: -75px auto;
    height: 149px;
    width: 900px;
    background: #fff;
    overflow: hidden;
}

.left_btn {
    position: absolute;
    top: 50%;
    left: 0px;
    margin-top: -19px;
    width: 22px;
    height: 38px;
    background: url(../imgs/main_top_slide.png) no-repeat 0 -153px;
}

.right_btn{
    position: absolute;
    top: 50%;
    right: 0px;
    width: 22px;
    height: 38px;
    margin-top: -19px;
    background: url(../imgs/main_top_slide.png) no-repeat 0 -97px;
}

.inner{
    position: relative;
    width: 505px;
    height: 67px;
    padding: 0 65px 0 150px;
    margin: 40px auto;
    border-bottom: 2px solid #000;
}

.inner h2{
    position: absolute;
    left: 0;
    top: -3px;
    font-size: 20px;
    color: #000;
}

.inner ul{
    width: 505px;
    height: 40px;
    overflow: hidden;
}

.sub1{
    width: 5000px;
}

.ani{
    animation: playlist 56.8515s linear 1s infinite normal none running;
} 

.sub1 li{
    float: left;
    padding-right: 50px;
    font-size: 15px;
}

@keyframes playlist {
    100% {
        transform: translateX(-2368px);
    }
}

.control{
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
}

.control span{
    width:24px;
    height: 24px;
    display: none;
}

.control span.on{
    display: block;
}

.stop{ 
    background: url(../imgs/main_top_slide.png) no-repeat;
    background-position: 0 -58px;
}

.start{ 
    background: url(../imgs/main_top_slide.png) no-repeat;
    background-position: 0 -28px;
}

.swiper{
    display: inline-block;
    width: 7px;
    margin-bottom: 5px;
}

.control_1{
    position: absolute;
    right: 5px;
    top: 0;
    width: 24px;
    text-align: center;
}

.dot{
    display: block;
    width: 7px;
    height: 7px;
    margin-bottom: 7px;
    background: url(../imgs/main_top_slide.png) no-repeat;
    cursor: pointer;
}

.dot_on{
    background-position: 0 -12px;
    opacity: 1;
}


.control_1 .on_1{
    display: inline-block;
}

.start_1{
    display: none;
    width: 24px;
    height: 24px;
    background: url(../imgs/main_top_slide.png) 0 -28px no-repeat;
}
.stop_1{
    display: none;
    width: 24px;
    height: 24px;
    background: url(../imgs/main_top_slide.png) 0 -58px no-repeat;
}

.swiper_dot{
    background-position: 0 -12px;
}

.c2 {
    width: 980px;
    margin: 0 auto;
    margin-top: 180px;
}

.main{ 
    width: 1644px;
    transform: translateX(-332px);
}
.c2 h2 {
    margin-bottom: 40px;
    font-size: 24px;
    color: #000;
    text-align: center;
    line-height: 1;
}

.mainbenner{
    display: flex;
    width: 1644px;
}

.slide{
    width: 316px;
    margin-right: 16px;
}

.slide span{
    display: block;
    padding: 50px 0 0 0;
    line-height: 1.5;
    text-align: center;
    color: #333;
}

.slide :hover span{
    text-decoration: underline;
}

.c3 {
    width: 996px;
    height: 568px;
    margin: 100px auto;
}

.c3 h2{
    margin-bottom: 32px;
    font-size: 24px;
    color: #000;
    text-align: center;
    line-height: 1;
}

.maincover{
    width: 980px;
    margin: 0 auto;
}

.maincover div{
    float: left;
}

#leftimg{
    margin-right: 332px;
}

#rightimg{
    float: left;
    width: 316px;
    margin-left: -316px;
}

#rightimg :first-child{
    margin-bottom: 11px;
}

.size-up{
    width: 316px;
    height: 248px;
}

.c5{
    width: 1168px;
    height: 124px;
    margin: 100px auto;
}

.c5 ul{
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 50px;
    text-align: center;
}


.over{
    display: none;
}


.c5 li:hover img:first-child{
    display: none;
}

.c5 li{
    display: inline-block;
    text-align: center;
    width: 140px;
}

.c5 span{
    display: block;
    margin-top: 16px;
    font-size: 13px;
    color: #808080;
    line-height: 1;
}

.c5 li:hover .over{
    display: inline;
}

.c5 li:hover span{
    color: #000;
}

/* 2. 하단영역 */

#footer .foot_util{
    width: 980px;
    margin: 0 auto;
    letter-spacing: -2px;
}

.right{
    position: relative;
    float: right;
    width: 210px;
}

.f_menu{
    position: relative;
    padding: 30px 0 30px;
    border-bottom: 2px solid #000;
    letter-spacing: 0;
}

.f_left{
    display: inline-block;
}

.f_left ul > li{
    margin-right: 15px;
}

.f_menu ul li{
    float: left;
}

.f_left ul > li > ul{
    position: relative;
    float: left;
    margin-left: 10px;
    top: 4px;
}

.f_left ul > li > a{
    float: left;
    font-size: 16px;
    color: #000;
}

.f_left ul > li > ul > li{
    height: 10px;
    padding: 0 6px;
    margin: 0;
    border-left: 1px solid #e5e5e5;
}

.f_left ul > li > ul > li > a{
    display: inline-block;
    margin-top: -2px;
    font-size: 14px;
    color: #666;
    letter-spacing: -1px;
}

.f_left ul > li > ul > li:first-child{
    border-left: none;
} 

.f_right{
    float: right;
}

.f_right li span{
    font-size: 14px;
    margin: 0 0 0 1px;
    vertical-align: top;
}

.f_right ul li a{
    font-size: 14px;
    color: #000;
}

.f_right li {
    margin-right: 0;
}

.f_left a:hover{
    text-decoration: underline;
}

.f_right a:hover{
    text-decoration: underline;
}

.company_info{
    padding: 28px 0 44px;
}

.company_info em {
    float: left;
    margin-right: 17px;
}

#footer .company_info .detail_info {
    overflow: hidden;
    margin-top: 12px;
}

.company_info .detail_info >li {
    float: left;
    margin-right: 14px;
    font-size: 13px
}

.important a {
    color: #ff3c50;
}

.footer_link {
    margin-top: 30px;
}

.footer_link li {
    display: inline-block;
    margin-right: 10px;
}

.footer_link a {
    font-size: 13px;
    color: #000;
}

.partner-links {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #e5e5e5;
}

.partner-links li {
    display: inline-block;
    margin-right: 8px;
}

.partner-links a {
    font-size: 13px;
    color: #333;
}

.partner-links a > span {
    color: #666;
}

.family_link{
    margin: 30px 0;
}

.family_link select{
    width: 150px;
    height: 42px;
    border: none;
    border-bottom: 2px solid #010101;
    font-size: 14px;
    padding : 5px;
}

.family_link button{
    width: 50px;
    float: right;
    margin-top: 5px;
    line-height: 28px;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}

select option{
    font-size: 12px;
    line-height: 100%;
    height: 25px;
    padding: 5px;
}

.cs-call{
    font-size: 13px;
    color: #666;
    letter-spacing: -1px;
}

.cs-call li {
    margin-bottom: 12px;
}

.cs-call em{
    color: #333;
    font-style: normal;
}